<section class="section benefits" id="benefits">
  <div class="container">
    <div class="benefits-wrapper">
      <div class="benefits-content">
        <h2 class="section-title">
          Reconnect with yourself through the art of outdoor drawing
        </h2>
        <ul class="benefits-list">
          <li class="benefits-item">
            <svg class="benefits-icon" width="40" height="39">
              <use href="/img/sprite.svg#icon-spa"></use>
            </svg>
            <div class="benefits-subscribe-wrapper">
              <h3 class="benefits-subtitle">Relieves stress and anxiety</h3>
              <p class="benefits-text">
                Drawing in nature helps you unwind, clear your mind, and escape
                daily worries in a peaceful setting.
              </p>
            </div>
          </li>
          <li class="benefits-item">
            <svg class="benefits-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-sun"></use>
            </svg>
            <div class="benefits-subscribe-wrapper">
              <h3 class="benefits-subtitle">Sparks creativity</h3>
              <p class="benefits-text">
                Whether you’re a beginner or experienced, plein air drawing
                encourages creative thinking and helps you see beauty in the
                details.
              </p>
            </div>
          </li>
          <li class="benefits-item">
            <svg class="benefits-icon" width="38" height="40">
              <use href="/img/sprite.svg#icon-leaf"></use>
            </svg>
            <div class="benefits-subscribe-wrapper">
              <h3 class="benefits-subtitle">Quality time in nature</h3>
              <p class="benefits-text">
                Plein air sessions combine fresh air, gentle movement, and
                mindful observation — a perfect blend of rest and inspiration.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/avif/benefits-hippo-desktop.avif    1x,
            /img/avif/benefits-hippo-desktop@2x.avif 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            /img/avif/benefits-hippo-tablet.avif    1x,
            /img/avif/benefits-hippo-tablet@2x.avif 2x
          "
        />

        <img
          srcset="
            /img/avif/benefits-hippo-mobile.avif    1x,
            /img/avif/benefits-hippo-mobile@2x.avif 2x
          "
          src="/img/avif/benefits-hippo-mobile.avif"
          alt="little hippo"
          class="benefits-hippo-img"
          loading="lazy"
          width="335"
          height="317"
        />
      </picture>
    </div>
  </div>
</section>
