<section class="section feedbacks">
  <div class="container">
    <h2 class="section-title">Customer testimonials</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-item">
        <ul class="feedbacks-icons">
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “An unforgettable way to reconnect with nature and creativity. I came
          home with a full sketchbook and a peaceful mind.”
        </p>
        <p class="feedbacks-title">Julia Nguyen</p>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-icons">
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg
              width="22"
              height="22"
              class="feedbacks-icon-image star-outline"
            >
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “WildSketch helped me rediscover my love for drawing. The instructors
          were kind, encouraging, and deeply inspiring.”
        </p>
        <p class="feedbacks-title">Mark Leblanc</p>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-icons">
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “Beautiful locations, great energy, and a supportive community. I’m
          not a professional artist, but I felt totally welcomed.”
        </p>
        <p class="feedbacks-title">Sofia Mendes</p>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-icons">
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg
              width="22"
              height="22"
              class="feedbacks-icon-image star-outline"
            >
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “Sketching outdoors in the golden hour was magical. Highly recommend
          for anyone looking to slow down and create.”
        </p>
        <p class="feedbacks-title">Daniel Ortiz</p>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-icons">
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “The team made everything feel effortless and joyful. I learned so
          much and met wonderful people along the way.”
        </p>
        <p class="feedbacks-title">Anika Shah</p>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-icons">
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg width="24" height="24" class="feedbacks-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedbacks-icons-item">
            <svg
              width="22"
              height="22"
              class="feedbacks-icon-image star-outline"
            >
              <use href="/img/sprite.svg#icon-star-filled "></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “Such a wholesome and uplifting experience. WildSketch is now my go-to
          escape when I need a creative reset.”
        </p>
        <p class="feedbacks-title">Thomas Becker</p>
      </li>
    </ul>
  </div>
</section>
