<section class="section feedback">
  <div class="container">
    <h2 class="section-title">Customer testimonials</h2>
    <ul class="feedbak-list">
      <li class="feedback-item">
        <ul class="feedback-icons">
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="fedback-text">
          “An unforgettable way to reconnect with nature and creativity. I came
          home with a full sketchbook and a peaceful mind.”
        </p>
        <h3 class="feedback-title">Julia Nguyen</h3>
      </li>
      <li class="feedback-item">
        <ul class="feedback-icons">
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="fedback-text">
          “WildSketch helped me rediscover my love for drawing. The instructors
          were kind, encouraging, and deeply inspiring.”
        </p>
        <h3 class="feedback-title">Mark Leblanc</h3>
      </li>
      <li class="feedback-item">
        <ul class="feedback-icons">
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="fedback-text">
          “Beautiful locations, great energy, and a supportive community. I’m
          not a professional artist, but I felt totally welcomed.”
        </p>
        <h3 class="feedback-title">Sofia Mendes</h3>
      </li>
      <li class="feedback-item">
        <ul class="feedback-icons">
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="fedback-text">
          “Sketching outdoors in the golden hour was magical. Highly recommend
          for anyone looking to slow down and create.”
        </p>
        <h3 class="feedback-title">Daniel Ortiz</h3>
      </li>
      <li class="feedback-item">
        <ul class="feedback-icons">
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="fedback-text">
          “The team made everything feel effortless and joyful. I learned so
          much and met wonderful people along the way.”
        </p>
        <h3 class="feedback-title">Anika Shah</h3>
      </li>
      <li class="feedback-item">
        <ul class="feedback-icons">
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg width="24" height="24" class="feedbak-icon-image">
              <use href="/img/sprite.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="fedback-text">
          “Such a wholesome and uplifting experience. WildSketch is now my go-to
          escape when I need a creative reset.”
        </p>
        <h3 class="feedback-title">Thomas Becker</h3>
      </li>
    </ul>
  </div>
</section>
