<footer class="footer">
<div class="container">
    <div class="footer-content">
    <svg>
        <use href="../img/sprite.svg#icon-logo"></use>
    </svg>
    <ul>
        <li class="footer-link"><a href="#benefits">Benefits</a></li>
        <li class="footer-link"><a href="#gallery">Gallery</a></li>
        <li class="footer-link"><a href="#events">Events</a></li>
        <li class="footer-link"><a href="#team">Team</a></li>
        <li class="footer-link"><a href="#feedbacks">Feedbacks</a></li>
    </ul>
    <p class="footer-underline"></p>
    <p class="footer-copyright">© 2025 WildDraw. All rights reserved.</p>
</div>
</div>
</footer>