<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <a href="/index.html" class="logo-footer">
        <svg class="logo-icon-footer">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="nav-list footer-nav-list">
        <li class="footer-item">
          <a href="#benefits" class="footer-link">Benefits</a>
        </li>
        <li class="footer-item">
          <a href="#gallery" class="footer-link">Gallery</a>
        </li>
        <li class="footer-item">
          <a href="#events" class="footer-link">Events</a>
        </li>
        <li class="footer-item">
          <a href="#team" class="footer-link">Team</a>
        </li>
        <li class="footer-item">
          <a href="#feedbacks" class="footer-link">Feedbacks</a>
        </li>
      </ul>
      
      <p class="footer-copyright"> &copy; 2025 WildDraw. All rights reserved.</p>
    </div>
  </div>
</footer>
