<section class="section gallery">
  <div class="container">
    <h2 class="section-title">Artistic Showcase</h2>
    <p class="gallery-text">
      Explore the creativity captured in our workshops.
    </p>

    <ul class="gallery-grid">
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="/img/avif/gallery-hills.avif"
          srcset="
            /img/avif/gallery-hills.avif    1x,
            /img/avif/gallery-hills@2x.avif 2x
          "
          alt="picture of hills"
          width="159"
          height="157"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="/img/avif/gallery-forest.avif"
          srcset="
            /img/avif/gallery-forest.avif    1x,
            /img/avif/gallery-forest@2x.avif 2x
          "
          alt="gallery of forest"
          width="159"
          height="157"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image gallery-wide"
          src="/img/avif/gallery-tree.avif"
          srcset="
            /img/avif/gallery-tree.avif    1x,
            /img/avif/gallery-tree@2x.avif 2x
          "
          alt="gallery of tree"
          width="335"
          height="238"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="/img/avif/gallery-river.avif"
          srcset="
            /img/avif/gallery-river.avif    1x,
            /img/avif/gallery-river@2x.avif 2x
          "
          alt="gallery of river"
          width="159"
          height="136"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="/img/avif/gallery-ledybug-red.avif"
          srcset="
            /img/avif/gallery-ledybug-red.avif    1x,
            /img/avif/gallery-ledybug-red@2x.avif 2x
          "
          alt="gallery ledybug red"
          width="159"
          height="136"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="/img/avif/gallery-deer.avif"
          srcset="
            /img/avif/gallery-deer.avif    1x,
            /img/avif/gallery-deer@2x.avif 2x
          "
          alt="gallery of deer"
          width="159"
          height="136"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="/img/avif/gallery-book.avif"
          srcset="
            /img/avif/gallery-book.avif    1x,
            /img/avif/gallery-book@2x.avif 2x
          "
          alt="gallery of book"
          width="159"
          height="136"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
