<section class="section gallery">
  <div class="container">
    <h2 class="section-title">Artistic Showcase</h2>
    <p class="gallery-text">
      Explore the creativity captured in our workshops.
    </p>

    <ul class="gallery-grid">
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /img/avif/gallery/mobile/gallery-hills-mob.avif    1x,
              /img/avif/gallery/mobile/gallery-hills-mob@2x.avif 2x
            "
            media="(max-width: 767.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/tablet/gallery-hills-tab.avif    1x,
              /img/avif/gallery/tablet/gallery-hills-tab@2x.avif 2x
            "
            media="(min-width: 768px) and (max-width: 1439.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/desctop/gallery-hills-desc.avif    1x,
              /img/avif/gallery/desctop/gallery-hills-desc@2x.avif 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="gallery-image"
            src="/img/avif/gallery/mobile/gallery-hills-mob.avif"
            alt="picture of hills"
            width="159"
            height="157"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /img/avif/gallery/mobile/gallery-forest-mob.avif    1x,
              /img/avif/gallery/mobile/gallery-forest-mob@2x.avif 2x
            "
            media="(max-width: 767.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/tablet/gallery-forest-tab.avif    1x,
              /img/avif/gallery/tablet/gallery-forest-tab@2x.avif 2x
            "
            media="(min-width: 768px) and (max-width: 1439.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/desctop/gallery-forest-desc.avif    1x,
              /img/avif/gallery/desctop/gallery-forest-desc@2x.avif 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="gallery-image"
            src="/img/avif/gallery/mobile/gallery-forest-mob.avif"
            alt="gallery of forest"
            width="159"
            height="157"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item gallery-wide">
        <picture>
          <source
            srcset="
              /img/avif/gallery/mobile/gallery-tree-mob.avif    1x,
              /img/avif/gallery/mobile/gallery-tree-mob@2x.avif 2x
            "
            media="(max-width: 767.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/tablet/gallery-tree-tab.avif    1x,
              /img/avif/gallery/tablet/gallery-tree-tab@2x.avif 2x
            "
            media="(min-width: 768px) and (max-width: 1439.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/desctop/gallery-tree-desc.avif    1x,
              /img/avif/gallery/desctop/gallery-tree-desc@2x.avif 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="gallery-image"
            src="/img/avif/gallery/mobile/gallery-tree-mob.avif"
            alt="gallery of tree"
            width="335"
            height="238"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /img/avif/gallery/mobile/gallery-river-mob.avif    1x,
              /img/avif/gallery/mobile/gallery-river-mob@2x.avif 2x
            "
            media="(max-width: 767.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/tablet/gallery-river-tab.avif    1x,
              /img/avif/gallery/tablet/gallery-river-tab@2x.avif 2x
            "
            media="(min-width: 768px) and (max-width: 1439.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/desctop/gallery-river-desc.avif    1x,
              /img/avif/gallery/desctop/gallery-river-desc@2x.avif 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="gallery-image"
            src="/img/avif/gallery/mobile/gallery-river-mob.avif"
            alt="gallery of river"
            width="159"
            height="136"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /img/avif/gallery/mobile/gallery-ledybug-red-mob.avif    1x,
              /img/avif/gallery/mobile/gallery-ledybug-red-mob@2x.avif 2x
            "
            media="(max-width: 767.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/tablet/gallery-ledybug-red-tab.avif    1x,
              /img/avif/gallery/tablet/gallery-ledybug-red-tab@2x.avif 2x
            "
            media="(min-width: 768px) and (max-width: 1439.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/desctop/gallery-ledybug-red-desc.avif    1x,
              /img/avif/gallery/desctop/gallery-ledybug-red-desc@2x.avif 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="gallery-image"
            src="/img/avif/gallery/mobile/gallery-ledybug-red-mob.avif"
            alt="gallery ledybug red"
            width="159"
            height="136"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /img/avif/gallery/mobile/gallery-deer-mob.avif    1x,
              /img/avif/gallery/mobile/gallery-deer-mob@2x.avif 2x
            "
            media="(max-width: 767.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/tablet/gallery-deer-tab.avif    1x,
              /img/avif/gallery/tablet/gallery-deer-tab@2x.avif 2x
            "
            media="(min-width: 768px) and (max-width: 1439.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/desctop/gallery-deer-desc.avif    1x,
              /img/avif/gallery/desctop/gallery-deer-desc@2x.avif 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="gallery-image"
            src="/img/avif/gallery/mobile/gallery-deer-mob.avif"
            alt="gallery of deer"
            width="159"
            height="136"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /img/avif/gallery/mobile/gallery-book-mob.avif    1x,
              /img/avif/gallery/mobile/gallery-book-mob@2x.avif 2x
            "
            media="(max-width: 767.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/tablet/gallery-book-tab.avif    1x,
              /img/avif/gallery/tablet/gallery-book-tab@2x.avif 2x
            "
            media="(min-width: 768px) and (max-width: 1439.98px)"
          />
          <source
            srcset="
              /img/avif/gallery/desctop/gallery-book-desc.avif    1x,
              /img/avif/gallery/desctop/gallery-book-desc@2x.avif 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="gallery-image"
            src="/img/avif/gallery/mobile/gallery-book-mob.avif"
            alt="gallery of book"
            width="159"
            height="136"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
