<section class="header">
<div class="container">
    <div class="header-content">
        <svg width="117" height="50">
                <use href="/img/sprite.svg#icon-logo"></use>
            </svg>
        <nav>
            <ul>
                <li class="nav-link"><a href="">Benefits</a></li>
                <li class="nav-link"><a href="">Gallery</a></li>
                <li class="nav-link"><a href="">Events</a></li>
                <li class="nav-link"><a href="">Team</a></li>
                <li class="nav-link"><a href="">Feedbacks</a></li>
                <li class="nav-link"><a href="">Register</a></li>
            </ul>
        </nav>
    </div>
</div>
</section>