<section class="header">
<div class="container">
    <div class="header-content">
        <svg width="117" height="50">
                <use href="/img/sprite.svg#icon-logo"></use>
            </svg>
        <nav>
            <ul>
                <li class="nav-link"><a href="#benefits">Benefits</a></li>
                <li class="nav-link"><a href="#gallery">Gallery</a></li>
                <li class="nav-link"><a href="#events">Events</a></li>
                <li class="nav-link"><a href="#team">Team</a></li>
                <li class="nav-link"><a href="#feedback">Feedbacks</a></li>
                <li class="nav-link"><a href="#register">Register</a></li>
            </ul>
        </nav>
    </div>
</div>
</section>