<section class="hero section" id="hero">
  <div class="container">
    <div class="hero-content-desk">
      <div class="hero-content">
        <h1 class="hero-title">Unleash Your Creativity in Nature's Embrace</h1>
        <p class="hero-text">
          Join us for an inspiring plein air drawing workshop where art meets
          nature. Experience the joy of sketching outdoors while enhancing your
          skills in light and composition.
        </p>
      </div>

      <ul class="hero-btn-list">
        <li class="links">
          <a href="#register" class="hero-btn hero-btn-register">Register</a>
        </li>
        <li class="links">
          <a href="#events" class="hero-btn hero-btn-learnmore">Learn More</a>
        </li>
      </ul>
    </div>

    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/avif/hero-house-desktop.avif    1x,
          /img/avif/hero-house-desktop@2x.avif 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/avif/hero-house-tablet.avif    1x,
          /img/avif/hero-house-tablet@2x.avif 2x
        "
      />
      <img
        srcset="
          /img/avif/hero-house-mobile.avif    1x,
          /img/avif/hero-house-mobile@2x.avif 2x
        "
        src="/img/avif/hero-house-mobile.avif"
        alt="hero house"
        fetchpriority="high"
        width="335"
        height="258"
      />
    </picture>
  </div>
</section>
