<section class="hero" id="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Unleash Your Creativity in Nature's Embrace</h1>
      <p class="hero-text">
        Join us for an inspiring plein air drawing workshop where art meets
        nature. Experience the joy of sketching outdoors while enhancing your
        skills in light and composition.
      </p>
    </div>

    <div class="hero-btn-links">
      <a href="#register" class="hero-btn hero-btn-register">Register</a>
      <a href="#events" class="hero-btn hero-btn-learnmore">Learn More</a>
    </div>

    <img
      srcset="/img/avif/hero-house.avif 1x, /img/avif/hero-house@2x.avif 2x"
      src="/img/avif/hero-house.avif"
      alt="hero house"
      width="335"
      height="257.6"
    />
  </div>
</section>
