<section class="hero" id="hero">
  <h1 class="page-title">Unleash Your Creativity in Nature's Embrace</h1>
  <p class="hero-text">
    Join us for an inspiring plein air drawing workshop where art meets nature.
    Experience the joy of sketching outdoors while enhancing your skills in
    light and composition.
  </p>
  <a href="#register" class="hero-button hero-btn-register">Register</a>
  <a href="#events" class="hero-button hero-btn-learnmore">Learn More</a>

  <img
    srcset="/img/avif/hero-house.avif 1x, /img/avif/hero-house@2x.avif 2x"
    src="/img/avif/hero-house.avif"
    alt="hero house"
    width="335"
    height="257.6"
  />
</section>
