<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="mobile-menu-top">
      <a href="/index.html" class="logo-header">
        <svg class="icon-logo-header" width="70" height="49">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <a href="#register" class="nav-register-btn">Register</a>

      <button
        type="button"
        class="mobile-menu-close-btn"
        aria-label="Close mobile menu"
      >
        <svg class="mobile-menu-close-icon" width="11" height="11">
          <use href="/img/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav">
      <ul class="nav-list mobile-menu-nav-list">
        <li class="mobile-menu-item">
          <a href="#benefits" class="nav-link mobile-menu-link">Benefits</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#gallery" class="nav-link mobile-menu-link">Gallery</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#events" class="nav-link mobile-menu-link">Events</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#team" class="nav-link mobile-menu-link">Team</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#feedbacks" class="nav-link mobile-menu-link">Feedbacks</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
