<section class="register section" id="register">
  <div class="container">
    <h2 class="register-title">Register</h2>
    <form class="register-form">
      <div class="form-wrapper">
        <label class="form-label" for="user-name">Name*</label>
        <input
          class="form-input"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Emma"
          required
        />
      </div>

      <div class="form-wrapper">
        <label class="form-label" for="user-email">Email*</label>
        <input
          class="form-input"
          type="email"
          name="user-email"
          id="user-email"
          placeholder="hello@wildsketch.com"
          required
        />
      </div>
      <div class="form-wrapper">
        <label class="form-label" for="user-describe"
          >Describe your skills</label
        >
        <textarea
          class="form-describe"
          name="user-describe"
          id="user-describe"
          placeholder="Type your skills..."
        ></textarea>
      </div>
      <button class="register-button" type="submit">Register</button>
    </form>
    <img
      srcset="
        /img/avif/registert-class-with-students.avif    1x,
        /img/avif/registert-class-with-students@2x.avif 2x
      "
      src="/img/avif/registert-class-with-students.avif"
      alt="Student is painting"
      loading="lazy"
      width="335"
      height="286"
    />
  </div>
</section>
