<section class="register section" id="register">
  <div class="container">
    <div class="register-content-desk">
      <h2 class="register-title">Register</h2>
      <form class="register-form">
        <div class="form-wrapper">
          <label class="form-label" for="user-name">Name*</label>
          <input
            class="form-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Emma"
            required
            pattern="^[a-zA-Z\s\.]{5,64}$"
            title="Name must be 5-64 characters, only letters, spaces and dots"
          />
          <span class="form-error">Wrong name</span>
        </div>

        <div class="form-wrapper">
          <label class="form-label" for="user-email">Email*</label>
          <input
            class="form-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="hello@wildsketch.com"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            title="Enter a valid email address"
          />
          <span class="form-error">Wrong email</span>
        </div>
        <div class="form-wrapper">
          <label class="form-label" for="user-describe"
            >Describe your skills</label
          >
          <textarea
            class="form-describe"
            name="user-describe"
            id="user-describe"
            placeholder="Type your skills..."
            maxlength="500"
          ></textarea>
        </div>
        <button class="register-button" type="submit">Register</button>
      </form>
    </div>

    <div class="register-image">
      <picture>
        <source
          srcset="
            /img/avif/register-class-with-students-mob.avif    1x,
            /img/avif/register-class-with-students-mob@2x.avif 2x
          "
          media="(max-width: 767.98px)"
        />
        <source
          srcset="
            /img/avif/register-class-with-students-tab.avif    1x,
            /img/avif/register-class-with-students-tab@2x.avif 2x
          "
          media="(min-width: 768px) and (max-width: 1439.98px)"
        />
        <source
          srcset="
            /img/avif/register-class-with-students.avif    1x,
            /img/avif/register-class-with-students@2x.avif 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          src="/img/avif/register-class-with-students-mob.avif"
          alt="Students are painting"
          loading="lazy"
          width="335"
          height="286"
        />
      </picture>
    </div>
  </div>
</section>
