<section class="section team" id="team">
  <div class="container team-container">
    <h2 class="section-title">Our team</h2>
    <p class="team-text">
      Meet the passionate artists guiding your plein air journey.
    </p>

    <ul class="team-list">
      <li class="team-item">
        <img
          class="team-img"
          srcset="
            img/avif/team-woman-wearing-blue.avif    1x,
            img/avif/team-woman-wearing-blue@2x.avif 2x
          "
          src="img/avif/team-woman-wearing-blue.avif"
          alt="Emma Caldwell"
          width="152"
          height="152"
          loading="lazy"
        />
        <h3 class="team-name">Emma Caldwell</h3>
        <p class="team-position">Lead Art Instructor</p>
      </li>

      <li class="team-item">
        <img
          class="team-img"
          srcset="
            img/avif/team-female-teacher.avif    1x,
            img/avif/team-female-teacher@2x.avif 2x
          "
          src="img/avif/team-female-teacher.avif"
          alt="Lina Morales"
          width="152"
          height="152"
          loading="lazy"
        />
        <h3 class="team-name">Lina Morales</h3>
        <p class="team-position">Creative Workshop Coordinator</p>
      </li>

      <li class="team-item">
        <img
          class="team-img"
          srcset="
            img/avif/team-smiling-man.avif    1x,
            img/avif/team-smiling-man@2x.avif 2x
          "
          src="img/avif/team-smiling-man.avif"
          alt="Owen Fischer"
          width="152"
          height="152"
          loading="lazy"
        />
        <h3 class="team-name">Owen Fischer</h3>
        <p class="team-position">Materials &amp; Techniques Expert</p>
      </li>

      <li class="team-item">
        <img
          class="team-img"
          srcset="
            img/avif/team-woman-lines.avif    1x,
            img/avif/team-woman-lines@2x.avif 2x
          "
          src="img/avif/team-woman-lines.avif"
          alt="Naomi Lee"
          width="152"
          height="152"
          loading="lazy"
        />
        <h3 class="team-name">Naomi Lee</h3>
        <p class="team-position">Mindfulness &amp; Sketching Coach</p>
      </li>

      <li class="team-item">
        <img
          class="team-img"
          srcset="
            img/avif/team-curly-man.avif    1x,
            img/avif/team-curly-man@2x.avif 2x
          "
          src="img/avif/team-curly-man.avif"
          alt="Jack Turner"
          width="152"
          height="152"
          loading="lazy"
        />
        <h3 class="team-name">Jack Turner</h3>
        <p class="team-position">Photographer &amp; Visual Archivist</p>
      </li>

      <li class="team-item">
        <img
          class="team-img"
          srcset="
            img/avif/team-man-eyeglasses.avif    1x,
            img/avif/team-man-eyeglasses@2x.avif 2x
          "
          src="img/avif/team-man-eyeglasses.avif"
          alt="Ben Novak"
          width="152"
          height="152"
          loading="lazy"
        />
        <h3 class="team-name">Ben Novak</h3>
        <p class="team-position">Outdoor Logistics Manager</p>
      </li>
    </ul>
  </div>
</section>
