.events .section-title {
  text-align: start;
  margin-bottom: 8px;
}
.section-text {
  margin-bottom: 32px;
  font-size: 18px;
}
.events-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media screen and (min-width: 768px) {
    gap: 0px;
  }
}
.events-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  border: 1px solid #dbdada;
  border-radius: 28px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 8px 0px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dbdada;
    &:first-child {
      border-top: 1px solid #dbdada;
    }
  }
}
.events-img {
  display: block;
  width: 100%;
  height: 225px;
  border-radius: 16px;
  object-fit: cover;
  @media screen and (min-width: 768px) {
    width: 144px;
    height: 144px;
    flex-shrink: 0;
  }
}
.events-content {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    flex: 1;
  }
  @media screen and (min-width: 1440px) {
    gap: 16px;
  }
}
.events-item-title {
  font-size: 24px;
  line-height: 1.1;
}
.events-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: column;
    gap: 4px;
    min-width: 171px;
    flex-shrink: 0;
  }
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    gap: 16px;
    margin-left: auto;
  }
}
.events-location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  text-decoration: none;
}
.events-date {
  font-size: 14px;
}
.events-btn {
  display: block;
  width: 100%;
  padding: 8px 20px;
  border: 1px solid rgba(12, 7, 8, 0.15);
  border-radius: 100px;
  font-weight: 500;
  color: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.7;
  }
  @media screen and (min-width: 768px) {
    max-width: 97px;
    flex-shrink: 0;
  }
}
