.header-content {
  height: 64px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 72px;
  }

  @media screen and (min-width: 1440px) {
    justify-content: flex-start;
  }
}

.navigation {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.nav-list {
  display: flex;
  gap: 32px;
}

.nav-list-header {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav-link {
  text-align: left;
}

.nav-register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-accent);
  border-radius: 100px;
  width: 97px;
  height: 40px;
  font-weight: 500;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    margin-left: 32px;
  }
}

.nav-register-btn:hover,
.nav-register-btn:focus {
  opacity: 0.5;
}

.nav-register-btn:active {
  opacity: 0.75;
}

.menu-open-btn {
  @media screen and (max-width: 767px) {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 28px;
    width: 24px;
    height: 24px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-logo-header {
  min-width: 117px;
  max-height: 58px;
}
