.hero .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    /* justify-content: flex-start; */
  }
}

.hero-content .hero-title {
  margin-bottom: 24px;

  font-family: var(--font-family-second);
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-align: left;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    font-size: 56px;
    max-width: 601px;
  }
}

.hero-text {
  font-size: 18px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    max-width: 704px;
  }
}

.hero-btn-links {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
  }
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 335px;
  height: 44px;

  font-weight: 500;
  font-size: 16px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    margin: 0;
    width: 159px;
  }
}

.hero-btn-register {
  background-color: var(--background-color-accent);
  border: 1px solid #ffb780;
  border-radius: 100px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.hero-btn-learnmore {
  background-color: transparent;
  border: 1px solid rgba(12, 7, 8, 0.15);
  border-radius: 100px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
