.team-title {
  margin-bottom: 24px;

  font-family: var(--font-family-second);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
}

.team-text {
  margin: 0 auto 40px;

  font-size: 18px;
  text-align: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.team-item {
  width: 100%;
  text-align: center;
}

.team-img {
  width: 152px;
  height: 152px;
  margin: 0 auto 24px;
  border-radius: 50%;
  object-fit: cover;
}

.team-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.team-position {
  margin: 0 auto;

  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 24px;
    row-gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 32px;
  }

  .team-item {
    width: calc((100% - 160px) / 6);
  }

  .team-position {
    max-width: 180px;
  }
}
